.timezone-table {
  border-collapse: collapse;
  border: none;
  table-layout: fixed;
  width: auto;
}

th {
  text-align: left;
  padding-right: 10px;
}

td.timezone-value,
td.timezone-key {
  text-align: left;
  word-wrap: break-word;
  word-break: break-word;

  overflow-wrap: break-word;
  padding: 3px 0px;
  position: relative;
  border-bottom: 1px dashed #aaa;
}

.copy-btn {
  background: none;
  border: none;
  padding: 3px;
  border-radius: 2px;
  cursor: copy;
  color: black;
  font-size: 1em;
  text-align: left;

  &:hover {
    background: #e7e7e7;
  }
  &:active {
    background: #cfcfcf;
  }
}

.copy-success-message {
  position: absolute;
  top: 25px;
  right: 0px;
  background-color: rgb(222, 226, 230);
  min-width: max-content;
  padding: 5px;
  border-radius: 3px;
  z-index: 999;

  .copy-success-icon {
    color: #aaa;
  }

  &.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s linear;
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.25s, opacity 0.25s linear;
  }
}